@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Euphoria+Script&display=swap');

:root {
    --color01: #65B0B5;
    --color02: #8EF8FF;
    --color03: #B297FF;
    --color04: #F9D1FF;
    --fonteprincipal: 'Euphoria Script', cursive;
    --fontesecundaria: 'Caveat', cursive;
    --fonteextra: 'Caveat Brush', cursive;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../imgs/fundo.jpg");
    background-color: var(--color04);
    background-size: cover;
    font-family: var(--fonteprincipal);
}

header {
    background-color: #F9D1FF;
    width: 100%;
    height: 80px;
}

p, a {
    font-family: var(--fontesecundaria);
    text-decoration: none;
}

a:hover {
    color: var(--color03);
}
