<header>
    <img src="../../imgs/logo.png" alt="logo" class="logo" onclick="voltar()" style="cursor: pointer;">

    {{#if imagem}}
        <img src="../imgs/{{imagem}}.jpg" class="i" onclick="show()" id="user">
    {{else}}
        <i class="fi fi-rr-circle-user" onclick="show()" id="user"></i>
    {{/if}}
    
    <div class="conta boxShadow">
        <div class="alterar">
            <a href="alterar"><i class="fi fi-rr-pencil"></i> Alterar dados</a>
        </div>

        <span class="line"></span>

        <div class="sair">
            <a href="/auth/sair"><i class="fi fi-rr-exit"></i>Sair</a>
        </div>
    </div>
</header>
<script src="/js/preloader.js"></script>