<div class="loader">
    <svg width="52px" height="54px" viewBox="0 0 52 54" version="1.1">
        <rect fill="#B297FF" x="0" y="15" width="52" height="39"/>
        <rect fill="#B297FF" opacity="0.900000036" x="3" y="51" width="46" height="3"/> <!-- capa -->
        <polygon fill="#D6D5D0" points="26 13 49.5735685 12.2915037 49.5735685 51.2915037 26 52"/> <!-- primeira pag -->
        <polygon fill="#D6D5D0" points="26 13 49.5735685 12.2915037 49.5735685 51.2915037 26 52"> <!-- segunda pag -->
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 44.372231 3.8589904 44.372231 42.8589904 26 52"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="#F4F3F0"/>
        </polygon>
    
        <polygon fill="#F4F3F0" points="26 13 44.372231 3.8589904 44.372231 42.8589904 26 52">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 36.3883757 0.178966842 36.3883757 39.1789668 26 52"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="#F3F2F0"/>
        </polygon>
        <polygon fill="#F3F2F0" points="26 13 36.3883757 0.178966842 36.3883757 39.1789668 26 52">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 30.3765696 0.292749915 30.3765696 39.2927499 26 52"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="white"/>
        </polygon>
    
        <polygon fill="white" points="26 13 30.3765696 0.292749915 30.3765696 39.2927499 26 52">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 15 26 0.960355416 26 41.1230808 26 54"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="white"/>
        </polygon>
    
    
        <polygon id="Rectangle-2" fill="#D6D5D0" points="26 13 26 52 2.42643155 51.2915037 2.42643155 12.2915037"> <!-- primeira pag esquerda -->
    
        </polygon>
        <polygon fill="#E5E4E0" points="26 13 26 52 7.62776902 42.8589904 7.62776902 3.8589904">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 26 52 2.42643155 51.2915037 2.42643155 12.2915037"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="#D6D5D0"/>
        </polygon>
        <polygon fill="#F4F3F0" points="26 13 26 52 15.6116243 39.1789668 15.6116243 0.178966842">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 26 52 7.62776902 42.8589904 7.62776902 3.8589904"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="#E5E4E0"/>
        </polygon>
        <polygon fill="#F3F2F0" points="26 13 26 52 21.6234304 39.2927499 21.6234304 0.292749915">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 26 52 15.6116243 39.1789668 15.6116243 0.178966842"/>
            <animate begin="0s" fill="freeze" attributeName="fill" dur="300ms" repeatCount="indefinite"
                        to="#F4F3F0"/>
        </polygon>
        <polygon fill="white" points="26 13 26 52 25.6234304 39.2927499 25.6234304 0.292749915">
            <animate begin="0s" fill="freeze" attributeName="points" dur="300ms" repeatCount="indefinite"
                        to="26 13 26 52 21.6234304 39.2927499 21.6234304 0.292749915"/>
        </polygon>
    </svg>
    
    <div class="l" translate="no">Loading devo...</div>
    <a class="foot" target="_blank" href="https://codepen.io/violet_mono/pen/NXKerO">inspiração</a>
</div>
<script src="/js/preloader.js"></script>