<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/alterar.css">
        <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <title>Alterar dados</title>
    </head>
    <body>
        {{> preloader }}
        
        <div class="cont" style="display: none;">
            <a href="alterar" class="sair">Cancelar exclusão</a>
            <img src="/imgs/tristeFB.png" alt="guia">
            <div class="txts">
                <div class="text">
                    <h1>Cuidado!</h1>
                    <p>Tem certeza que deseja mesmo deletar sua conta? Isso destruirá todos os seus devocionais e não poderá recuperá-los. Se quiser mesmo fazer isso clique em "continuar exclusão". Caso o devoday tenha te decepcionado, nós aceitamos sugestões na aba <a href="feedback" class="btn criar" style="text-decoration: underline;">feedback</a>. Espero te ver novamente para que possamos recomeçar nossa jornada!</p>
                    <a onclick="fechar()" class="btn criar">Continuar exclusão</a>
                </div>
            </div>
        </div>
        <form class="boxShadow" action="/auth/alterar" method="POST">

            <select name="altera" id="action" onclick="mudou1(value)">
                <option value="outro" disabled selected>Selecione sua ação</option>
                <option value="email">Alterar email</option>
                <option value="senha">Alterar senha</option>
                <option value="imagem">Alterar imagem de perfil</option>
                <option value="deletar">Deletar conta</option>
            </select>

            <div class="emailI boxShadow" style="display:none;">
                <div class="topic">
                    <label for="emailIemailant">Email antigo</label>
                    <div class="input">
                        <input type="email" name="emailIemailant" id="emailIemailant" placeholder="Insira o email antigo">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="emailIemail">Email novo</label>
                    <div class="input">
                        <input type="email" name="emailIemail" id="emailIemail" placeholder="Insira o novo email">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="emailIsenha">Senha</label>
                    <div class="input sinput">
                        <input type="password" name="emailIsenha" id="emailIsenha" placeholder="Insira sua senha">
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>
            </div>

            <div class="senhaI boxShadow" style="display:none;">
                <div class="topic">
                    <label for="senhaIemail">Email</label>
                    <div class="input">
                        <input type="email" name="senhaIemail" id="senhaIemail" placeholder="Insira o email">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="senhaIsenhaant">Senha antiga</label>
                    <div class="input sinput">
                        <input type="password" name="senhaIsenhaant" id="senhaIsenhaant" placeholder="Insira a senha antiga">
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="senhaIsenha">Senha nova</label>
                    <div class="input sinput">
                        <input type="password" name="senhaIsenha" id="senhaIsenha" placeholder="Insira a senha nova">
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>
            </div>

            <div class="deletarI boxShadow" style="display:none;">
                <div class="topic">
                    <label for="deletarIemail">Email</label>
                    <div class="input">
                        <input type="email" name="deletarIemail" id="deletarIemail" placeholder="Insira o email">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="deletarIsenha">Senha</label>
                    <div class="input sinput">
                        <input type="password" name="deletarIsenha" id="deletarIsenha" placeholder="Insira a senha">
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>
            </div>

            <div class="imagemI boxShadow" style="display:none;">
                <input type="radio" name="icone" id="radio0" checked value=0>
            </div>

            {{#if message}}
                <p class="alert">{{message}}</p>
            {{/if}}
            <input type="submit" class="btn criar" value="Alterar dados" style="display: none;">
            <input type="submit" class="btn criar" value="Excluir conta" style="display: none;" id="delete">
            <a href="home" class="btn criar">Cancelar alteração</a>
        </form>

        <script src="/js/login.js"></script>
        <script>
            let labels = document.querySelectorAll('.imagem label');
            let email = document.querySelector('.emailI');
            let senha = document.querySelector('.senhaI');
            let imagem = document.querySelector('.imagemI');
            let aviso = document.querySelector('.cont');
            let deletar = document.querySelector('.deletarI');
            let inputS = document.querySelector('input.criar');
            let inputD = document.querySelector('input#delete');
            let imagens = ['cordeiro', 'coelho'];
            
            function mudou1(valor) {
                imagem.innerText = "";
                if (valor == 'email') {
                    inputS.style.display = 'block';
                    inputD.style.display = 'none';
                    email.style.display = 'block';
                    senha.style.display = 'none';
                    imagem.style.display = 'none';
                    aviso.style.display = 'none';
                    deletar.style.display = 'none';

                } else if (valor == 'senha') {
                    inputS.style.display = 'block';
                    inputD.style.display = 'none';
                    email.style.display = 'none';
                    senha.style.display = 'block';
                    aviso.style.display = 'none';
                    imagem.style.display = 'none';
                    deletar.style.display = 'none';

                } else if (valor == 'deletar') {
                    inputS.style.display = 'none';
                    inputD.style.display = 'block';
                    email.style.display = 'none';
                    senha.style.display = 'none';
                    imagem.style.display = 'none';
                    aviso.style.display = 'block';
                    deletar.style.display = 'block';

                } else if (valor == 'imagem') {
                    inputS.style.display = 'block';
                    inputD.style.display = 'none';
                    email.style.display = 'none';
                    senha.style.display = 'none';
                    imagem.style.display = 'block';
                    aviso.style.display = 'none';
                    deletar.style.display = 'none';

                    for (let x = 1; x <= imagens.length; x++) {
                        let input = document.createElement('input');
                        input.setAttribute("type", "radio");
                        input.name = "icone";
                        input.id = "radio" + x;
                        input.value = x

                        let label = document.createElement('label');
                        label.htmlFor = 'radio' + x
                        let icone = document.createElement('img');

                        icone.src = '/imgs/' + imagens[x-1] + '.jpg';
                        icone.className = 'i'
                        icone.id = 'i' + x;

                        label.appendChild(icone);
                        imagem.appendChild(input);
                        imagem.appendChild(label);
                    }
                }
            }

            function fechar() {
                aviso.style.display = 'none';
            }
        </script>
    </body>
</html>