<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Começar</title>
</head>
<body>
    {{> preloader }}

    <form class="boxShadow cad" action="/auth/cadastro" method="POST">
        <div class="presentation">
            <div class="antes">
                <img src="/imgs/pessoas.svg" alt="pessoas">
                <h1>Conecte-se</h1>
                <p>Alcance seus objetivos com nosso time!</p>
            </div>
            <div class="depois" style="display:none;">
                <h1>Escolha seu perfil</h1>
                <input type="radio" name="icone" id="radio0" checked value=0>
            </div>
        </div>

        <div class="box-blue">
            <div class="box">
                <h1>Bem vindo(a)!</h1>
                <div class="topic">
                    <label for="email">Email</label>
                    <div class="input">
                        <input type="email" name="email" id="email" placeholder="Insira seu email" required onblur="mostra()">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <script>
                    let antes = document.querySelector('.antes');
                    let depois = document.querySelector('.depois');
                    let imagens = ['cordeiro', 'coelho'];

                    function mostra() {
                        let labels = document.querySelectorAll('.depois label');
                        let emailinp = document.querySelector('.input #email')

                        if (emailinp.value.length > 1) {
                            antes.style.display = 'none';
                            depois.style.display = 'block';
                            
                            if (labels.length == 0) {
                                for (let x = 1; x <= imagens.length; x++) {
                                    let input = document.createElement('input');
                                    input.setAttribute("type", "radio");
                                    input.name = "icone";
                                    input.id = "radio" + x;
                                    input.value = x

                                    let label = document.createElement('label');
                                    label.htmlFor = 'radio' + x
                                    let icone = document.createElement('img');

                                    icone.src = '/imgs/' + imagens[x-1] + '.jpg';
                                    icone.className = 'i'
                                    icone.id = 'i' + x;

                                    label.appendChild(icone);
                                    depois.appendChild(input);
                                    depois.appendChild(label);
                                }
                            }
                        }
                    }
                </script>

                <div class="topic">
                    <label for="senha">Senha</label>
                    <div class="input sinput">
                        <input type="password" name="senha" id="senha" placeholder="Insira sua senha" required>
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>

                {{#if message}}
                <p class="alert">{{message}}</p>
                {{/if}}
                
            </div>

            <input type="submit" class="btn criar" value="Criar conta">
            <a href="login" class="btn criar">Já tenho uma conta</a>
        </div>
    </form>
    <script src="/js/login.js"></script>
</body>
</html>