<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/card.css">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Criar card</title>
</head>
<body>
    <header>
        <img src="../imgs/logo.png" alt="logo" class="logo">

        <i class="fi fi-rr-circle-user" onclick="show()" id="user"></i>
        <div class="conta boxShadow">
            <div class="alterar">
                <a><i class="fi fi-rr-pencil"></i> Alterar dados</a>
            </div>

            <span class="line"></span>

            <div class="excluir">
                <a><i class="fi fi-rr-trash"></i>Excluir conta</a>
            </div>

            <span class="line"></span>

            <div class="sair">
                <a><i class="fi fi-rr-exit"></i>Sair</a>
            </div>
        </div>
    </header>

    <section>
        <form action="" method="post" class="boxShadow">
            <h1>Devo day xx/xx/xxxx</h1>
            <label for="">Escolha a leitura</label>

            <select name="livros" id="livros">
                <optgroup label="Antigo Testamento">
                    <option value="Gênesis">Gênesis</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                </optgroup>

                <optgroup label="Novo Testamento">
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>

                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </optgroup>
            </select>

            <label for="passagem">O que a passagem quer dizer?</label>
            <input type="text" id="passagem" class="boxShadow">

            <label for="reflexão">O que Deus está me falando a partir dela?</label>
            <input type="text" id="reflexão" class="boxShadow">

            <input type="submit" value="Salvar">
        </form>
        <div class="view boxShadow">
            <h1>Versículo</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem impedit labore, consequatur, id tenetur vitae veniam amet possimus temporibus voluptates odit molestias officiis dolore quidem cum consectetur, est fuga non. Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta repellat et voluptatem fugit tenetur nesciunt? Provident, asperiores. Aliquid, deleniti consequuntur. Ratione incidunt itaque recusandae. Saepe, enim adipisci. Dolor, tempore libero?</p>
        </div>
    </section>
    <script src="../js/preloader.js"></script>
</body>
</html>