<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/feed.css">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Enviar feedback</title>
</head>
<body>
    {{> header}}

    <section>
        <form action="/auth/feedback" method="POST" class="boxShadow">
            <select name="problema" id="action" onblur="mudou1(value)">
                <option value="outro" disabled selected>Selecione sua ação</option>
                <optgroup label="Problemas">
                    <option value="Conta">Problema na conta</option>
                    <option value="Leituras">Problema nas leituras</option>
                    <option value="Seleção">Problema na seleção</option>
                    <option value="Cards">Problema nos cards</option>
                    <option value="Sugestão diária">Problema na sugestão diária</option>
                    <option value="Visual">Problema visual</option>
                </optgroup>
                <optgroup label="Outros">
                    <option value="Sugestão">Sugestão/Feedback</option>
                    <option value="Outros">Outros</option>
                </optgroup>
            </select>
            <select name="ItensProblema" id="probls" style="display:none;"></select>

            <textarea rows="3" name="descrição" placeholder="Descreva seu problema/feedback" required></textarea>
            <input type="submit" class="btn">
        </form>
    </section>

    <script>
        const itens = {
            "Conta": ["Não consigo editar dados", "Não consigo sair", "Não consigo excluir"], 
            "Leituras": ["Texto com erros de escrita", "Texto com versículo trocado", "Numeração de capítulos com erros", "Numeração de versículos com erros"], 
            "Seleção": ["Não aparece o texto selecionado", "O texto exibido não condiz com o selecionado"], 
            "Cards": ["Data errada", "Data invisível", "Erro no versículo", "Erro no texto", "Não consigo editar", "Não consigo excluir", "Meu texto não aparece"], 
            "Sugestão diária": ["Data errada", "Data invisível", "Não consigo criar a partir do texto"], 
            "Visual": ["Elementos bugados", "Texto saindo do lugar", "Botão atrapalhando clique"]
        };

        const ação = document.querySelector('#action');
        let listaProblemas = document.querySelector('#probls');
        
        function mudou1(valor) {
            // Limpar as options
            var L = listaProblemas.options.length - 1;

            for (var i = L; i >= 0; i--) {
                listaProblemas.remove(i)
            }
            
            // trocar o select
            for (var [key, value] of Object.entries(itens)) {
                if (key == valor) { 
                    listaProblemas.style.display = 'block';

                    for (var item in value) {
                        let option = document.createElement('option');
                        option.value = value[item];
                        let conteudo = document.createTextNode(value[item]);
                        option.appendChild(conteudo);

                        listaProblemas.appendChild(option);
                    }
                } else if (valor == "Sugestão" || valor == "Outros") {
                    listaProblemas.style.display = 'none';
                }
            }
        }
    </script>
</body>
</html>