<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/home.css">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Devo day</title>
</head>
<body>
    <header>
        <img src="../imgs/logo.png" alt="logo" class="logo">

        <i class="fi fi-rr-circle-user"></i>
        <!-- <div class="conta">
            <div class="alterar">
                <i></i>
                <p>Alterar dados</p>
            </div>

            <div class="excluir">
                <i></i>
                <p>Excluir conta</p>
            </div>

            <div class="sair">
                <i></i>
                <p>Sair</p>
            </div>
        </div> -->
    </header>

    <div class="cards">
        <div class="card">
            <h1></h1>
            <p></p>
            <div class="modificadores">
                <i></i>
                <i></i>
            </div>
        </div>
    </div>

    <div class="coluna">
        <div class="sugestao boxShadow">
            <h2>Sugestão de hoje</h2>
            <h1></h1>
            <p></p>
            <div class="mais">
                <a href="">Iniciar devocional</a>
                <i></i>
            </div>
        </div>
        <div class="conquistas boxShadow">
            <h2>Conquistas</h2>
            <h1></h1>
            <div class="barra"></div>
            <p></p>
        </div>
    </div>

    <div class="boxShadow novo">
        <a href="../html/card.html"><i></i></a>
    </div>
</body>
</html>