<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/alterar.css">
        <link rel="shortcut icon" href="/imgs/logo.png" type="image/x-icon">
        <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
        <title>Trocar email</title>
    </head>
    <body>
        <form class="boxShadow" action="/auth/alterar" method="POST">
            <div class="emailE boxShadow">
                <div class="topic">
                    <label for="emailEemail">Email</label>
                    <div class="input">
                        <input type="email" name="emailEemail" id="emailEemail" placeholder="Insira seu email">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="emailEemail">Email novo</label>
                    <div class="input">
                        <input type="email" name="emailEEmail" id="emailEEmail" placeholder="Insira seu novo email">
                        <i class="fi fi-rr-envelope"></i>
                    </div>
                </div>

                <div class="topic">
                    <label for="emailEsenha">Senha</label>
                    <div class="input sinput">
                        <input type="password" name="emailEsenha" id="emailEsenha" placeholder="Insira sua senha">
                        <i class="fi fi-rr-eye-crossed senha"></i>
                    </div>
                </div>
            </div>

            {{#if message}}
                <p class="alert">{{message}}</p>
            {{/if}}
            <input type="submit" class="btn criar" value="Alterar dados">
        </form>

        <script src="/js/login.js"></script>
    </body>
</html>