section {
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 10%;
}

form select {
    background-color: var(--color00);
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 5px;
}

select, textarea, .btn {
    font-size: 1.5em;
}

form .btn {
    background-color: var(--color01);
    width: 20%;
    padding: 10px;
    margin: 20px;
    color: white;
}

textarea {
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px #0000001a;
    resize: none;
    overflow-y: auto; 
    border: 0px none;
    margin: 5px 10px;
    width: 90%;
    padding: 20px;
}

textarea:focus {
    box-shadow: 0px 0px 5px 5px #0000001a;
    border: 2px solid var(--color00);
}

textarea::-webkit-scrollbar {
    width: 6px;
    background-image: var(--color04);
}

textarea::-webkit-scrollbar-thumb {
    background-color: var(--color03);
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {}