/* BODY */
section {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

/* CARDS */
.cards {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 20px;

    max-height: 80vh;
    overflow-y: auto;
}

.card {
    margin: 20px 20px 10px 20px;
    max-height: 170px;
    position: relative;
    padding: 20px;
}

.cards::-webkit-scrollbar, .cards ::-webkit-scrollbar, .sugestao p::-webkit-scrollbar {
    width: 6px;
    background-image: var(--color04);
}

.cards::-webkit-scrollbar-thumb, .cards ::-webkit-scrollbar-thumb, .sugestao p::-webkit-scrollbar-thumb {
    background-color: var(--color03);
    border-radius: 10px;
}

h1 {
    color: var(--color01);
}

p {
    max-width: 95%;
    max-height: 100px;
    overflow-y: auto;
}

.modificadores, .data, .sugestao h2, .conquistas h2, .mais {
    position: absolute;
    right: 0;
    margin: 10px 20px;
}

.modificadores, .mais {
    bottom: 0;
}

.modificadores i {
    margin-left: 10px;
}

.data, .sugestao h2, .conquistas h2 {
    top: 0;
}

/* RIGTH */
.coluna {
    display: flex;
    flex-direction: column;
    margin: 40px 0px 20px 20px;
    max-width: 50%;
}

/* SUGESTÃO */
.sugestao {
    position: relative;
    height: 50vh;
}

.sugestao i {
    margin-left: 5px;
}

.sugestao h1, .conquistas h1 {
    margin-top: 20px;
}

.sugestao p {
    overflow-y: auto;
    max-height: 75%;
}

/* CONQUISTA */
.conquistas {
    position: relative;
    margin-top: 20px;
    width: 100%;
}

.barra {
    margin: 10px;
}

.conquistas p {
    margin: 10px;
}

progress {
    width: 60%;
    height: 0.8em;
    margin-bottom: 1rem;
    border: 1px solid black;
    margin: 10px;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress[value]::-webkit-progress-value{
    background-color: var(--color04);
    border-end-end-radius: 10px;
}

/* FLUTUANTE */
.novo {
    position: fixed;
    z-index: 999;
    margin: 20px;
    bottom: 0;
    right: 0;
    width: 60px;
    height: 60px;
    background-color: var(--color02);

    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.novo a:hover {
    color: white;
}

.novo a {
    transform: scale(1.5);
}

@media screen and (max-width: 700px) {
    .coluna, .cards, .card, .boxShadow, .conquistas {
        margin: 10px 8px;
    }
}

@media screen and (max-width: 530px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .coluna, .cards, .card, .conquistas, .sugestao {
        max-width: 100%;
        width: 100%;
        margin: 10px 0;
    }
}
