.cont {
    position: fixed;
    background-color: #00000066;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.cont .sair {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
}

.cont img {
    position: absolute;
    z-index: 1000;
    left: 10px;
    bottom: 0;
    height: 300px;
}

.txts {
    max-width: 45%;
    z-index: 1000;
    margin-bottom: 150px;
}

.text {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    min-height: 30%;
    max-height: 30%;
    
    overflow-y: auto;
}

.txt h1 {
    text-align: center;
}

p::-webkit-scrollbar, .text::-webkit-scrollbar {
    width: 6px;
    background-image: var(--color04);
}

p::-webkit-scrollbar-thumb, .text::-webkit-scrollbar-thumb {
    background-color: var(--color03);
    border-radius: 10px;
}

.marcado {
    z-index: 1000;
    border: 4px double var(--color03);
    transform: scale(1.05);
}

@media screen and (max-width: 1056px) {
    .cont img {
        height: 250px;
    }
}

@media screen and (max-width: 700px) {
    .cont {
        flex-wrap: wrap-reverse;
    }
}

@media screen and (max-width: 800px) {
    .cont {
        align-items: center;
    }
    .txts {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 580px){
    .txts {
        max-width: 70%;
    }
    .cont img {
        height: 200px;
    }

    .txts {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 380px){
    .txts {
        max-width: 90%;
    }
}