<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    margin: 20px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-align: center;
}

h1, h2 {
    font-family: cursive;
    color: #65B0B5;
}

body {
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    border-radius: 20px;
}

p.footer {
    color: #0000005c;
    font-size: 0.8em;
}
</style>
</head>
<body>
    <h1>Conta excluída com sucesso!</h1>
    <p>Agradecemos por ter participado da jornada conosco! Esperamos te ver novamente!</p>
    <p class="footer">devoday</p>
</body>
</html>