<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
    margin: 20px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: cursive;
    text-align: center;
}

h1, h2 {
    font-family: cursive;
    color: #65B0B5;
}

body {
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    border-radius: 20px;
}

p.span {
    font-size: 1.3em;
}

p.code {
    background-color: #B297FF;
    color: white;
    box-shadow: 0px 0px 10px 5px #0000001a;
    border-radius: 10px;
    padding: 10px 0 10px 10px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    max-width: fit-content;
    font-weight: bolder;
    margin: 20px auto;
    font-size: 1.5em;
    letter-spacing: 10px;
}

p.footer {
    color: #0000005c;
    font-size: 0.8em;
}
</style>
</head>
<body>
    <h1>Olá!</h1>
    <p>Você está recebendo esta mensagem porque solicitou a recuperação de senha</p>
    <p class="span">Seu código de recuperação é:</p>
    <p class="code">{{code}}</p>
    <p class="footer">devoday</p>
</body>
</html>