<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/home.css">
    <link rel="stylesheet" href="../../css/tuto.css">
    <link rel="shortcut icon" href="../imgs/logo.png" type="image/x-icon">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Devo day</title>
</head>
<body>
    <div class="cont">
        <img src="../../imgs/logo.png" alt="guia">
        <div class="txts">
            <div class="text">
                <h1>Bem vindo(a)!</h1>
                <p>Olá! Muito obrigada por entrar nessa jornada conosco! Meu nome é Lia e vou te mostrar como funciona o devoday! Para começarmos, clique neste botão em destaque</p>
            </div>
        </div>
    </div>
    {{> header}}

    <section>
        <div class="cards"></div>

        <div class="coluna">
            <div class="sugestao boxShadow">
                <h2>Sugestão de hoje</h2>
                <h1>Mt 1:1-10</h1>
                <p>1.Genealogia de Jesus Cristo, filho de Davi, filho de Abraão. 2.Abraão gerou Isaac. Isaac gerou Jacó. Jacó gerou Judá e seus irmãos. 3.Judá gerou, de Tamar, Farés e Zara. Farés gerou Esron. Esron gerou Arão. 4.Arão gerou Aminadab. Aminadab gerou Naasson. Naasson gerou Salmon. 5.Salmon gerou Booz, de Raab. Booz gerou Obed, de Rute. Obed gerou Jessé. Jessé gerou o rei Davi. 6.O rei Davi gerou Salomão, daquela que fora mulher de Urias. 7.Salomão gerou Roboão. Roboão gerou Abias. Abias gerou Asa. 8.Asa gerou Josafá. Josafá gerou Jorão. Jorão gerou Ozias. 9.Ozias gerou Joatão. Joatão gerou Acaz. Acaz gerou Ezequias. 10.Ezequias gerou Manassés. Manassés gerou Amon. Amon gerou Josias.</p>
                <div class="mais">
                    <a href="">Iniciar devocional
                    <i class="fi fi-rr-add"></i></a>
                </div>
            </div>

            <div class="conquistas boxShadow">
                <h2>Conquistas</h2>
                <h1>Persistência 1</h1>
                <div class="content">
                    <div class="barra">
                        <span class="feito">0</span>
                        <progress id="progress" value="0" max="10"></progress>
                        <span class="total">10</span>
                    </div>
                    <p>Faça 10 devocionais</p>
                </div>
            </div>
        </div>

        <div class="seta"></div>

        <div class="boxShadow novo marcado">
            <a href="tutorialB"><i class="fi fi-rr-add"></i></a>
        </div>
    </section>
</body>
</html>